<TabView class="container" selectedIndex="1" (selectedIndexChanged)="onSelectedIndexChanged($event)">
  <ng-container *ngFor="let tabSport of sports | keyvalue">
    <StackLayout *tabItem="{title: tabSport.key}">
      <ng-container *ngIf="!isLoading">
        <!-- <ng-particles id="tsparticles" [options]="particlesOptions"></ng-particles> -->
        <ScrollView class="scrollView">
          <StackLayout class="stackpad" *ngIf="sportResponse">

            <!-- MLB -->
            <ng-container *ngIf="sportResponse.leagues[0].abbreviation === 'MLB'">
              <ns-mlb-card *ngFor="let event of sportResponse.events" [event]="event"></ns-mlb-card>
            </ng-container>
            
            <!-- NBA -->
            <ng-container *ngIf="sportResponse.leagues[0].abbreviation === 'NBA'">
              <ns-nba-card *ngFor="let event of sportResponse.events" [event]="event"></ns-nba-card>
            </ng-container>

            <!-- NFL -->
            <ng-container *ngIf="sportResponse.leagues[0].abbreviation === 'NFL'">
              <ns-nfl-card *ngFor="let event of sportResponse.events" [event]="event"></ns-nfl-card>
            </ng-container>
            <!-- <ns-sport-card *ngFor="let event of sportResponse.events" [event]="event" [inputSport]="tabSport.key"></ns-sport-card> -->
          </StackLayout>
        </ScrollView>
        <Button class="refreshButton" text="Refresh" (tap)="refresh()"></Button>
      </ng-container>

      <ng-container *ngIf="isLoading">
        <ActivityIndicator class="activityIndicator" [busy]="isLoading"></ActivityIndicator>
      </ng-container>
    </StackLayout>
  </ng-container>
</TabView>