.scrollView {
  height: 87%;
  margin: 5;
}

.container {
  background-color: whitesmoke;
}

.stackpad {
  padding: 5;
}

.refreshButton {
  height: 10%;
  margin-bottom: 1;
  background-color: white;
  color: black;
  font-size: 15;
  border-width: 2;
  border-color: black;
}

.activityIndicator {
  width: 33%;
  height: 33%;
  margin: 25%;
}
