.black, .title {
  color: black;
  text-align: center;
}

.title {
  border-left: none;
  border-right: none;
  border-radius: 2;
  border-color: red blue green orange;
  border-width: 1 2 3 4;
  padding: 5;
}

.line {
  height: 1;
  background-color: black;
  margin: 1;
  align-items: center;
}